.container{
    padding: 25px;
    padding-left: 5%;
    padding-right: 5%;
}

.disabled{
    pointer-events: none;
    background:#f9f9f9;
}
.btn{
    color: #FFC107;
    margin-left: 50%;
    background-color: #673AB7;
    border-radius: 12px;
    font-size: large;
}