<div class="about-content">
    <h1>About Us!</h1>
    <!-- <img src="/src/app/images/about-us-img.jpg"> -->

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ullamcorper libero eu pharetra elementum.
        Pellentesque laoreet odio lorem, ut condimentum arcu tempor non. Maecenas posuere nec mauris eu faucibus. Nullam
        rutrum fringilla dignissim. Ut tincidunt blandit massa eget porta. Sed fringilla metus vel porta facilisis. Sed
        ornare lectus sed sapien sagittis porta non vitae ante. Aenean malesuada nec orci nec sodales. Etiam lorem
        ligula, cursus id metus ut, molestie suscipit est. Duis a placerat tellus. Donec vitae laoreet ex. Sed molestie
        risus mauris.

        Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis molestie condimentum lorem, nec efficitur
        ligula interdum quis. Etiam ut diam nec est posuere ultricies at nec dui. Duis ac dignissim lacus. Nunc ut
        malesuada turpis, id venenatis nisi. Integer id tortor ullamcorper, volutpat velit vitae, luctus dolor.
        Vestibulum in nisi ut nisl aliquet efficitur sit amet laoreet nibh.

        Pellentesque et turpis id nibh efficitur eleifend a id erat. Suspendisse pulvinar, dui quis imperdiet hendrerit,
        diam nisl elementum orci, fermentum molestie ipsum dui a ipsum. Aliquam id egestas arcu. Maecenas at volutpat
        urna. Praesent id risus vehicula, ornare magna nec, convallis massa. Phasellus varius facilisis lacus, id luctus
        augue tincidunt in. Pellentesque sed commodo nisl, ac rhoncus orci. Maecenas posuere dui vel enim efficitur
        convallis. Suspendisse finibus consequat massa, id tincidunt ligula dignissim a. In augue diam, tempor in
        consequat nec, molestie quis nisl. Pellentesque ac ligula metus. Aliquam rhoncus lobortis nisi ac vulputate. In
        in leo augue. Sed elementum diam ac leo dapibus feugiat. Phasellus elit mi, tristique ut odio sed, tristique
        consequat dui.</p>

</div>