.container{
    margin-top: 150px;
    height: 100px;
    width: 450px;
}
.container button,h2{
    font-size: large;
    margin-left: 40%;
}
.mat-card input{
    height: 50px;
    width: 250px;
    font-size: large;

}
.mat-card i{
    height: 50px;
    padding: 10px;
    margin-left: 10%;
}
